header {
  nav {
    height: 72px;
    display: flex;
    justify-content: space-evenly;
    a {
      align-self: center;
      text-decoration: none;
      color: inherit;
      font-size: 2rem;
    }
  }
}
