header {
  position: absolute;
  background: hsla(0, 0%, 0%, 0);
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 1;
  nav {
    height: 72px;
    display: flex;
    justify-content: space-evenly;
    #nav_logout {
      background: white; // border-radius: 100%;
      // height: 42px;
      // width: 42px;
      // background-image: url('/assets/giveme-avatar-2.svg')
    }
    a {
      align-self: center;
      text-decoration: none;
      color: inherit;
      font-size: 2rem;
    }
  }
}
