<div>
  <!-- <div id="newtask_background" (click)="toggleNewTaskModal.emit()"></div> -->
  <div id="newtask_background"></div>

  <form>
    <button (click)="toggleNewTaskModal.emit()">X</button>

    <input type="text" name="title" id="new_task_title" placeholder="Title: " [(ngModel)]="taskData.title">
    <input type="date" name="expires" id="new_task_expires" placeholder="Expires: " [value]="taskData.expires_at">
    <textarea name="description" id="new_task_description" placeholder="Description: " cols="30" rows="10" [(ngModel)]="taskData.description"></textarea>
    <input type="number" name="reward" id="new_task_reward" placeholder="Reward: " [(ngModel)]="taskData.reward">
    <button (click)="addTask($event)">Submit</button>
  </form>
</div>
