<div id="login">
  <a id="login_back_button" routerLink="/">
    <img src="/assets/back-arrow.png" alt="">
  </a>

  <div id="login_form_container">
    <form>
      <h1>Welcome back</h1>
      <h4>Please login into your account.</h4>

      <input type="text" name="email" placeholder="Email Address" [(ngModel)]="loginData.email">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="loginData.password">

      <div id="login_buttons">
        <button type="submit" (click)="login($event)">Login</button>
        <button routerLink="/register">Register</button>
      </div>


    </form>
    <div id="image_container">
      <img src="/assets/login-picture.png" alt="">
      <span>Let's find something to do . . .</span>
    </div>
  </div>
  <div id="background_blur"></div>
</div>
