#home {
  display: flex;
}

#gmap {
  height: 100vh;
  width: 100%;
}

.show {
  right: 0px;
}

// #my_tasks_btn {
//   position: absolute;
//   right: 16px;
//   top: 16px;
//   background: white;
//   border-radius: 4px;
//   padding: 16px;
//   transition: right ease-in-out;
// }
